body {
  text-align: center;
  background-image:"../images/jungle.png";
  background-size:cover;
}

body button {
  font-size: 40px;
  background-color:#F5F8D3;
  color: rgb(8, 53, 6);
  padding: 10px 20px;
  border-radius: 14px;

}
canvas{
  border: 1px solid black;
}
.logo {
  float:left;
  margin-left:140px;

}
